@using DigitalHealthCheckEF;
@using DigitalHealthCheckWeb.Helpers;
@inherits Page;


<form method="post" novalidate>
    @if (ErrorList.Any())
    {
        <GDSErrorSummary ErrorList="@ErrorList" Title="@("There is a problem")" />
    }

    <AntiForgery AntiForgeryToken="@AntiForgery" />

    <h1 class="govuk-heading-l">Next steps – Actions</h1>
    
    <h2 class="govuk-heading-m">Finish this final page to complete your health check</h2>

    <p class="govuk-body">You can reduce your risk of heart and circulatory disease, diabetes and even some cancers by making some positive changes to your lifestyle. You can also help to better manage these and other long-term conditions. </p>
    <p class="govuk-body"><strong>The following recommended actions are specifically tailored to your results, your health priorities and the challenges you said you face in changing your lifestyle and health. </strong></p>
    <p class="govuk-body"><strong>You can now choose any of the following actions that feel right to you. We will provide you with links to everything you select. </strong></p>

    @if (ActionCategories != null && ActionCategories.Any())
    {
        @foreach (var actionCategory in ActionCategories)
        {
            <h2 class="govuk-heading-m">@actionCategory.Title</h2>

            <p class="govuk-body">@actionCategory.Call</p>

            if (actionCategory.Name == "Mental")
            {
                //Mental health has extra call text

                <p class="govuk-body">We recognise it is not always easy to access services that meet your unique needs. We encourage you to follow up with the following services to see what is available and appropriate for your situation.</p>
            }

            @if (actionCategory.HasInterventions)
            {
                <GDSCheckboxes FieldSet="@(
                                        new GDSFieldSet.Options
                                        {
                                            Legend = new GDSFieldSet.LegendOptions
                                            {
                                                Text = actionCategory.Label,
                                            Classes = "govuk-fieldset__legend--s"
                                        }
                                    })"
                               Name="@actionCategory.Name"
                               Items="@convertInterventionToItems(actionCategory.Items)" />
            }

            @if (!string.IsNullOrEmpty(actionCategory.CustomBarrier))
            {
                <p class="govuk-body">You also said that the following was a barrier for you:</p>

                <div class="govuk-inset-text">
                    @actionCategory.CustomBarrier
                </div>
                <p class="govuk-body">Thank you for sharing a personal barrier you experience to @actionCategory.Title.FromTitleCase(). We will review your feedback and find ways to improve our service offering to meet this need. In the meantime, <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://southwark.everyonehealth.co.uk/" title="check out the Southwark Healthy Lifestyle Service">check out the Southwark Healthy Lifestyle Telephone Support Service (opens in a new tab)</a>.</p>
            }

            if (actionCategory.Name == "Mental")
            {
                //Mental health has an extra body text

                <p class="govuk-body">If you feel like you need support right now, call your practice, your crisis team (if you have one) or Samaritans on 116 123. <a rel="noreferrer noopener" target="_blank" href="https://www.slam.nhs.uk/patients-and-carers/crisis-support/" title="Access crisis support" class="govuk-link">You can also access crisis support (opens in a new tab)</a> on the South London and Maudsley NHS Foundation Trust website.</p>
            }
        }
    } 



    <GDSButton PreventDoubleClick="true" Type="GDSButton.InputType.Submit" Text="Complete" />
</form>

@code {


    [Parameter]
    public IList<int> SelectedInterventions { get; set; }

    [Parameter]
    public IList<DigitalHealthCheckEF.Intervention> Interventions { get; set; }

    [Parameter]
    public IList<CustomBarrier> CustomBarriers { get; set; }

    [Parameter]
    public IList<DigitalHealthCheckWeb.Model.ActionCategory> ActionCategories { get; set; }

    public IList<GDSCheckboxes.Item> convertInterventionToItems(IEnumerable<DigitalHealthCheckEF.Intervention> interventions)
    {
        return interventions.AsCheckboxComponents(x => x.Id.ToString(), x => x.Text, x =>  true)
            .WithNoneOption("No, I would not like to be supported")
            .ToList();
    }
}